[submodule "clients/metorial-node"]
	path = clients/metorial-node
	url = https://github.com/metorial/metorial-node.git
[submodule "clients/metorial-python"]
	path = clients/metorial-python
	url = https://github.com/metorial/metorial-python.git
