go 1.24.4

use (
	./src/mcp-engine
	./src/modules/addr
	./src/modules/datastructures
	./src/modules/id
	./src/modules/limiter
	./src/modules/lock
	./src/modules/pubsub
	./src/modules/sentry-util
	./src/modules/ssrf-protection
	./src/modules/memory-queue
	./src/modules/util
	./src/services/code-bucket
	./src/services/usage
	./src/services/listener
	./src/services/log
	./src/services/deno-runner
)
