SYNTHESIS_API_PORT=52060
SYNTHESIS_HEALTH_PORT=12121
SYNTHESIS_DATABASE_URL=postgres://postgres:postgres@localhost:5432/synthesis?schema=public
REDIS_URL=redis://localhost:6379/0
# SCOUT_URL=
# SCOUT_TOKEN=
