# Service Configuration
DATABASE_URL=postgresql://forge:forge@postgres:5432/forge
REDIS_URL=redis://redis:6379

# Provider Configuration
DEFAULT_PROVIDER=aws.lambda

ENCRYPTION_KEY=

OBJECT_STORAGE_URL=
FORGE_API_URL=
OBSERVER_QUERY_URL=

LAMBDA_AWS_REGION=
LAMBDA_AWS_ACCESS_KEY_ID=
LAMBDA_AWS_SECRET_ACCESS_KEY=
LAMBDA_EXECUTION_ROLE_ARN=
LAMBDA_NETWORK_CONFIG=

DEFLECTOR_PROXY_URL=
DEFLECTOR_JWT_SECRET=
DEFLECTOR_JWT_AUDIENCE=deflector