# Service Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:35432/voyager
SEARCH_DATABASE_URL=postgresql://postgres:postgres@localhost:35432/voyager-search
REDIS_URL=redis://localhost:36379/0
